
.vs/lab2/FileContentIndex/5ed2d15a-f9bb-4a05-9a44-1761bb5f62fb.vsidx
.vs/lab2/v17/.suo
.vs/lab2/v17/Browse.VC.db
.vs/lab2/v17/Browse.VC.db-shm
.vs/lab2/v17/Browse.VC.db-wal
.vs/lab2/v17/Browse.VC.opendb
.vs/lab2/v17/ipch/AutoPCH/1ed0ef4db983a02d/LAB2.ipch
